:root {
    --cell-size: 49px;
    --bs-primary: #7CFFD2;
    --bs-primary-rgb: 124, 255, 210;
    --bs-secondary: #6495F1;
    --bs-secondary-rgb: 100, 149, 241;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-container .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}
.btn_board {
    border: 1px solid black;
    transition: all 0.4s;
}
.btn_board:hover {
    background-color: #6495F1;
    color: white;
    transform: scale(1.2);
}
select {
    width: 150px;
    padding: 1.8px 0;
    cursor: pointer;
}
